.note
{
    background-color: #d7ecf3;
    border-color:#4a87a1;
}

.warn
{
    background-color: #fcf6e2;
    border-color:#ffdd57;
    padding-bottom: 10px;
    padding-top: 10px;
}

.error
{
    background-color: #fdefea;
    border-color:#c11714;
}

img .center {
    text-align: center;
}