body
{
    background-color:whitesmoke;
}
.y
{
    position: absolute;
    top:15%;
    left:5%;
}
.introduction
{
    width: 18%;
    background-color:white;
    box-shadow: 1px 1px 1px 2px #ddd;
    transform: initial;
    position: fixed;
    top:30%;
    left: 5%;
    height: 400px;
}
.bar
{
    background-image:url("bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    height:200px;
    color: white;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration:none;
    /* text-decoration:underline; */
    color:gray;
}
a:active 
{
    text-decoration:none;
    background-color:gray;
    color:#fafafa;
}
.link 
{
    position:absolute;
    left:70%;
    top:40%;
    z-index:0;
}
.pic
{
    position:absolute;
    left: 15%;
    top: 10%;
    width: 150px;
}
.intro
{
    position: absolute;
    left: 43%;
    top: 20%;
}
.home-content
{
    position: absolute;
    left: 8%;
    top: 50%;
    width:70%;
}
.icon
{
    width: 50%;
    position:absolute;
    top: 90%;
    left:22%;
}
.home
{
    width: 60%;
    height: 500px;
    position: relative;
    left:25%;
    /* top:35%; */
}
.content
{
    background-color:white;
    height:1200px;
    position: absolute;
    width: 70%;
    top:30%;
    left: 25%;
    box-shadow: 2px 2px 2px 2px #ddd;
}
.bread
{
    position:relative;
    left:5%;
    top:5%;
}
.list-group
{
    position:relative;
    left:11%;
    top:12%;
    width: 620px;
}
.dropdown
{
    z-index: 10;
    padding:0px;
    background-color: black;
    position: absolute;
    left: 89%;
    top: 16%;
}
.card-body
{
    border-color:black;
    border-width: 1px;
}
.card1
{
    position:absolute;
    width: 30%; 
    left:18%;
    top:15%;
}
.card2
{
    position: absolute;
    width: 30%; 
    left:50%;
    top:15%;
}
.logo
{
    position: relative;
    top:0%;
    left: 3%;
}
svg
{
    margin:5%;
}
svg:hover
{
    fill: rgb(99, 143, 163);
}
.art
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:15px;
    border-bottom: 1px solid #dbdada;
    width: 80%;
    height: 8%;
    display: block;
    position: relative;
    top:8%;
    left: 10%;
    color: black;
    font-size:20px;
}
.art p
{
    position:relative;
    right: 3%;
    color: gray;
    font-size: 15px;
    text-align: right;
}
.art .i
{
    visibility:hidden;
    width: 1em;
    height:1em;
}
.art:hover .i
{
    cursor: pointer;
    visibility: visible;
}
.tag
{
    position: relative;
    left: 5%;
    color:	#6C8CA4;
    font-size:15px;
}

@media(max-width: 1200px)
{
    .card1
    {
        position: absolute;
        width: 37%; 
        left: 12%;
        top: 15%;
    }
    .card2
    {
        position: absolute;
        width: 37%; 
        left: 52%;
        top: 15%;
    }
    .list-group
    {
        position:relative;
        left:10%;
        top:12%;
        width: 80%;
    }
    .icon
    {
        position: absolute;
        top: 90%;
    }
    .home-content
    {
        position: absolute;
        left: 5%;
        top: 45%;
        width:80%;
    }
    .introduction
    {
        width:25%;
        position: fixed;
        top:30%;
        left: 2%;
    }
    .content
    {
        background-color:white;
        height:1200px;
        position: absolute;
        width: 70%;
        top:30%;
        left: 28%;
        box-shadow: 2px 2px 2px 2px #ddd;
    }
}

@media(max-width: 960px)
{
    .icon
    {
        width: 90%;
        position: absolute;
        top: 90%;
        left: 10%;
    }
    .pic
    {
        position:absolute;
        left: 10%;
        top: 10%;
        width: 120px;
        height:120px;
    }
    .intro
    {
        position: absolute;
        left: 40%;
        top: 15%;
        font-size: 15px;
    }
    .home-content
    {
        position: absolute;
        width: 90%;
        left: 0%;
        top: 45%;
    }
    .card1
    {
        font-size: 15px;
        position:absolute;
        width: 43%;
        left:6%;
        top:15%;
    }
    .card2
    {
        font-size: 15px;
        position: absolute;
        width: 43%;
        left:51%;
        top:15%;
    }
    .art
    {
        font-size:18px;
    }
    .iii
    {
        font-size:12px;
    }
    .uu
    {
        font-size:13px;
    }
    .name
    {
        font-size:20px;
    }
    .introduction
    {
        height: 380px;
    }
}

@media(max-width: 780px)
{
    .content
    {
        position: fixed;
        top: 22%;
        left:2%;
        z-index:1;
        width: 96%;
    }
    .bar
    {
        background-image:url("bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        max-width: 100%;
        height:150px;
        color: white;
    }
    .home
    {
        width: 100%;
        position: relative;
        left: 10%;
    }
    .home-content
    {
        position: absolute;
        width: 80%;
        left: 0%;
        top: 50%;
    }
    .intro
    {
        position: absolute;
        left: 35%;
        top: 25%;
        font-size: 15px;
    }
    .pic
    {
        width:110px;
        height:110px;
        position: absolute;
        left: 15%;
        top: 20%;
    }
    .icon
    {
        width: 50%;
        top:90%;
        left:18%;
    }
    .dropdown
    {
        padding:0px;
        background-color: black;
        position: absolute;
        left: 83%;
        top: 13%;
    }
    .introduction
    {
        width: 0px;
        display:none;
        position: absolute;
        top:5%;
    }
    .bread
    {
        position:fixed;
        left:10%;
        top:30%;
    }
    .art
    {
        top: 12%;
        left:10%;
        font-size: 18px;
    }
    .tag
    {
        font-size: 14px;
    }
    .list-group
    {
        width: 75%;
        position:absolute;
        left:12%;
        top:12%;
    }
    .y
    {
        position: absolute;
        top:13%;
        left:5%;
    }
    .card1
    {
        position:fixed;
        left:8%;
        top:40%;
        width:41%;
    }
    .card2
    {
        position:fixed;
        left:51%;
        top:40%;
        width:41%;
    }
}

